@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import "modules/glass.scss";
@import "modules/buttons.scss";

* {
  box-sizing: border-box;
}

::after,
::before {
  box-sizing: inherit;
}

body {
  background: #3767AD;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.title {
  font-style: normal;
  font-size: 55px;
  line-height: 64px;
  margin: 0 0 64px;
  text-align: center;
}